* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    // font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 50%, #0f172a 100%);
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
} 