@use '../libs/libs.scss';
$dark: #232323;
$light: #e2e8f0;
$trello-blue-start: #0079bf;
$trello-blue-end: #026aa7;
$form-select-indicator-color: #e2e8f0;
$fallback: #0d1117;
$select-gray-bg: #6c757d;
$bg-card: #1e293b;
$border-card: #334155;