@use '../libs/libs.scss';
@use '../base/mixins.scss' as *;
@use '../base/variables.scss' as *;

.header {
    padding: 12px 0;
    background: linear-gradient(90deg, $trello-blue-start, $trello-blue-end);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__icon {
        font-size: 32px;
        color: $light;
        line-height: 32px;
    }

    &__title {
        @include font(22px, 29px, 600);
        color: $light;
        margin: 0;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__clock {
        @include font(16px, 16px, 400);
        color: $light;
        opacity: 0.9;
        margin: 0;
        font-family: "Segoe UI", sans-serif;
    }
}